.content{
    padding: 60px 0;
	background: transparent radial-gradient(closest-side at 50% 50%, #E8E8E8 0%, #D9D9D9 100%) 0% 0% no-repeat padding-box;
    min-height: 100vh;

    h1{
        margin-top: 20px;
        margin-bottom: 120px;
        color: #6a6967 !important;
        &::before{
            position: absolute;
            top: 0;
            left: -1%;            
            height: auto;
            width: 99%;
            overflow: hidden;
            content: url("./img/points-title.svg");
        }
    }
}