footer{
    background: #8FB4C4 0% 0% no-repeat padding-box;
    .cont-logo{
        width: fit-content;
        margin: auto;
        padding: 50px;
        text-align: center;
        p{
            color: #D5D5D5;
        }
    }
}